# –ö—É—Ä—Å–æ–≤–æ–π –ø—Ä–æ–µ–∫—Ç –ø–æ –º–∞—à–∏–Ω–Ω–æ–º—É –æ–±—É—á–µ–Ω–∏—é
# Car price prediction
# –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω—ã—Ö –∞–≤—Ç–æ–º–æ–±–∏–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –ø—Ä–æ–≥–Ω–æ–∑–∞ —Ü–µ–Ω –Ω–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª–∏.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')

In [2]:
car=pd.read_csv('dataset/CAR.csv')

In [3]:
car.head()

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Toyota Camry 55 SE USAüá∫üá∏,Toyota,2015,15800$,150 000 km,Hybrid
1,1,Toyota Land Cruiser 200,Toyota,2015,47000$,145 000 km,Petrol
2,2,Toyota Camry 70 XSE,Toyota,2019,20500$,180 246 km,Petrol
3,3,Toyota Highlander IV (U70),Toyota,2019,45300$,108 000 km,Hybrid
4,4,Toyota Crown XVI (S235),Toyota,2023,51500$,7 750 km,Hybrid

In [4]:
car.shape

(602, 7)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
backup=car.copy()

## Quality

- names are pretty inconsistent
- names have company names attached to it
- some names are spam like 'Maruti Ertiga showroom condition with' and 'Well mentained Tata Sumo'
- company: many of the names are not of any company like 'Used', 'URJENT', and so on.
- year has many non-year values
- year is in object. Change to integer
- Price has Ask for Price
- Price has commas in its prices and is in object
- kms_driven has object values with kms at last.
- It has nan values and two rows have 'Petrol' in them
- fuel_type has nan values

## Cleaning Data

In [ ]:
#### year has many non-year values